@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add this to your main CSS file (e.g., style.css) */
.cart-item-card {
    /* Apply a transition to the transform and opacity properties */
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; 
}

.slide-out {
    /* Move the element off the left side of the screen */
    transform: translateX(-100%); 
    /* Fade it out simultaneously */
    opacity: 0; 
}